@media(max-width: 375px){

    .form{
        &_input{
        margin-bottom: 0.2rem;
        }

        &_button{
        justify-content: flex-end;
        transform: translate(-10%);
        }
    }

    .newsletter{
        margin-top: 2rem;
        order: 1;
        margin-bottom: 2rem;
    }

    .footer{
         &--huddle{
         order: 2;
        width: 100%;
         }

        &--form{
        text-align: end;
        }
    }
}